@use '../../styles/variables' as *;

.sectionContainer { 
  padding-top: 4rem;
}

.sectionHeader {
  text-align: center;
  
  margin: 0 auto $spacing-3xl; 
  
  background-color: $color-primary;
  color: #090C0F;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 876px;
  height: 292px;
  padding: 40px 60px; 
  border-radius: 10px; 
  @media (max-width: $breakpoint-mobile) {
    max-width: calc(100% - 32px);
    padding: 24px 20px;
  }
}

.sectionSpanner {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 35px;
  line-height: normal;

  &:first-child {
    margin-top: 0;
  }
}

.subTitle {
  display: block;
  font-size: 23px;
  color: #fff;
  font-weight: 400;
}

.sectionTitle {
  font-size: 24px;
  line-height: 150%;
  font-weight: $font-weight-bold;
  color: $color-white;
  padding-top: 1.5rem;
}

.title {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.sectionDescription {
  font-size: 20px;
  color: rgba($color-white, 0.9);
  max-width: 670px;
  margin: 0 auto;
  line-height: 1.7;
}
@media (max-width: $breakpoint-mobile) {

  .sectionContainer{
    padding-top: 1.5rem;
  }
  .sectionHeader {
    margin-bottom: $spacing-xl;
    padding-top: 2rem;
    height: 337px;
  }
  .sectionDescription{
    font-size: 19px;
    padding-bottom: 2rem;
  }
  .sectionSpanner {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}
