@use '../../styles/variables' as *;

.sectionContainer {
  padding-top: 2rem;
}

.sectionHeader {
  text-align: center;
  
  margin: 0 auto $spacing-3xl; 
  
  background-color: $color-primary;
  color: #090C0F;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  padding: 40px 60px; 
  border-radius: 16px; 
  @media (max-width: $breakpoint-mobile) {
    max-width: calc(100% - 32px);
    padding: 24px 20px;
  }
}

.sectionSpanner {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 35px;

  &:first-child {
    margin-top: 0;
  }
}

.subTitle {
  display: block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 6px;
  font-weight: 400;
}

.sectionTitle {
  font-weight: $font-weight-bold;
  color: $color-white;
  margin-bottom: $spacing-md;
  line-height: 1.3;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.sectionDescription {
  font-size: $font-size-base;
  color: $color-white;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.7;
}
@media (max-width: $breakpoint-mobile) {
  .sectionHeader {
    margin-bottom: $spacing-xl;
  }
  .sectionTitle {
    font-size: $font-size-xl;
  }
  .sectionDescription {
    font-size: $font-size-sm;
  }
}
